<main class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <app-new-todo></app-new-todo>
  </header>
  <section class="main">
    <app-complete-all></app-complete-all>
    <app-todos-list></app-todos-list>
  </section>
  <footer class="footer">
    <span class="todo-count">Count: {{ todoCount }}</span>
    <app-filters></app-filters>
    <button class="clear-completed" (click)="clearCompleted()">
      Clear completed
    </button>
  </footer>
</main>
<footer class="info">
  <p>Click on todo text to edit todo.</p>
</footer>
